:host {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  .task {
    margin-left: 20px;
    font-size: 16px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #3f51b5;
    border-radius: 2px;
    width: 150px;
  }

  .calc {
    color: #293366;
    margin-left: 10px;
    width: 30px;
  }

  .btn-del {
    margin-left: 25px;
  }

  .separator {
    display: inline-block;
    padding: 5px 10px;
  }
}
