<button mat-raised-button (click)="clear()">
  Очистить список
</button>
<br>
<br>

<app-time-board-list [list]="list$ | async"
                     (updateItem)="onUpdateItem($event)"
                     (deleteItem)="onDeleteItem($event)"></app-time-board-list>

<div class="total-line">
  Всего <span class="total">{{ list$ | async | totalTime }}</span>
</div>

<div class="buttons">
  <button mat-raised-button color="primary" (click)="addItem()">
    + Добавить
  </button>
  <button mat-raised-button color="accent" (click)="reCalc()">
    Расчитать
  </button>
</div>

<ng-container *ngIf="(calculated$ | async)">
  <h3> Рассчитано </h3>
  <table>
    <tr class="calced-line" *ngFor="let item of (calculated$ | async); let i=index">
      <td class="copy-elem name" [appCopyClick]="item.task">
        {{ item.task }}
      </td>
      <td class="copy-elem" [appCopyClick]="getHourAndMinutes(item.time)">
        {{ getHourAndMinutes(item.time) }}
      </td>
      <td class="cell-delete">
        <button (click)="delete(i)" class="btn-del">X</button>
      </td>
    </tr>
  </table>
</ng-container>
