@import "~src/styles/breakpoints";

.box {
  position: relative;
  margin: 20px 40px 0 0;
}

.right-float-block {
  position: absolute;
  right: 0;

  @include tablet() {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
