.root {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.input {
  font-size: 16px;
  border: 1px solid #3f51b5;
  line-height: 30px;
  padding: 0 40px 0 8px;
  border-radius: 2px;
  margin-left: 5px;

  &.-mini {
    width: 100px;
  }
}
