<div *ngIf="!(isReady$ | async) || !(user$ | async)" class="add-integration">
  <div class="line">
    <span class="name">Jira Domain:</span>
    <input class="input" type="text" [(ngModel)]="domain">
  </div>
  <div class="line">
    <span class="name">Login:</span>
    <input class="input" type="text" [(ngModel)]="login">
  </div>
  <div class="line">
    <span class="name">Password:</span>
    <input class="input" type="password" [(ngModel)]="password">
  </div>
  <button class="btn-save" mat-raised-button color="accent" (click)="saveCred()">
    Save
  </button>
</div>
<div *ngIf="!(user$ | async) && (isReady$ | async)" class="auth-error">
  Ошибка авторизации
</div>
<div *ngIf="(isReady$ | async) && (user$ | async) as user" class="user">
  <img class="avatar" [src]="user.avatarUrls['48x48']"/>
  <div class="info">
    <div class="name">{{ user.displayName }}</div>
    <div class="login">{{ user.key }}</div>
    <button class="btn-with-icon" mat-icon-button (click)="logout()">
      <mat-icon>input</mat-icon> Выйти
    </button>
  </div>
</div>

